        .navbar ul li a:hover {
            background-color: #1e3a8a;
            color:white;
            border-radius: 4px;
        }

                .navbar ul li a {
            color: #222;
            text-decoration: none;
            padding: 8px 12px;
            transition: background 0.3s;
            font-weight: normal;
            background-color: #f0f8ff;
        }
                .navbar ul li {
            margin-left: 20px;

        }
                .navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

                .navbar .logo {
            font-size: 20px;
            font-weight: bold;
        }

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #f0f8ff;
    color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}