<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
  <title>Dermanlar</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Dermanlar</h1>
<!--<form th:action="@{/drug-models}" method="get">-->
<!--  <label>Ady: <input type="text" name="name" /></label>-->
<!--  <label>Öndüriji: <input type="text" name="manufacturer" /></label>-->
<!--  <label>Ýapyldy:-->
<!--    <select name="isClosed">-->
<!--      <option value="">-</option>-->
<!--      <option value="true">Hawa</option>-->
<!--      <option value="false">Ýok</option>-->
<!--    </select>-->
<!--  </label>-->
<!--  <button type="submit">Filter</button>-->
<!--</form>-->

<table>
  <thead>
  <tr>
    <th>Ady</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="drugModel : ${drugModels}">
    <td th:text="${drugModel.nameDose}"></td>
  </tr>
  </tbody>
</table>
<a th:href="@{/drug-models/add}">Derman goşmak</a>
</body>
</html>
